[Desktop Entry]
Version=1.0
Type=Application
Name=Nagi
GenericName=Video Wallpaper
Comment=Lightning-fast video wallpaper daemon
Exec=nagi
Icon=nagi
Terminal=false
Categories=AudioVideo;Video;
Keywords=wallpaper;video;background;
StartupNotify=false
